{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('administrator')}}">Home</a> {% endblock %}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}

{% block body %}

<!--title-->
<section id="title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="title-bankseta">BANK SETA</p>
            </div>
            <div class="row">
                <h3 class="wel">Welcome {{name}}</h3>
            </div>
        </div>
    </div>
</section>

<!--heading-->
<section id="heading">
    <div class="container">
        <div class="row">
            <div class="col-12 head">
                <h2 class="text-decoration-underline">Grade 12 Revision Platform</h2>
            </div>
        </div>
    </div>
</section>

<!--subjects-->
<section id="subjects">
    <div class="container">
        <div class="row subj-content">
            <div class="col-lg-2 subj-button">
                <span>
                    <a class="btn btn-primary" href="{{url_for('upload')}}"> <img
                            src="static\assets\images\upload.png" width="140px" height="130px" alt="">
                        <br>
                        Upload Content
                    </a>
                </span>
            </div>
            <div class="col-lg-2 subj-button">
                <a class="btn btn-primary" href="{{url_for('content')}}"><img
                        src="static\assets\images\manageFiles.jpeg" width="140px" height="130px" alt="">
                    <br>
                    Manage Content
                </a>
            </div>
            <div class="col-lg-3 subj-button">
                <a class="btn btn-primary" href="{{url_for('schedule')}}"><img
                        src="static\assets\images\makeSchedules.jpeg" width="140px" height="130px" alt="">
                    <br>
                    Make Schedules
                </a>
            </div>
            <div class="col-lg-2 subj-button">
                <a class="btn btn-primary" href="{{url_for('screen')}}"><img
                    src="static\assets\images\volunteers.png" width="140px" height="130px" alt="">
                <br>
                Screen Volunteers
                </a>
            </div>
            <div class="col-lg-2 subj-button">
                <a class="btn btn-primary" href="{{url_for('periods')}}"><img
                    src="static\assets\images\manageSchedules.jpeg" width="140px" height="130px" alt="">
                <br>
                Manage Schedules
                </a>
            </div>
        </div>

    </div>

    </div>
    </div>
</section>

{% endblock %}