{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('administrator')}}">Home</a> {% endblock %}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}

{% block body %}
<!--content-->
<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-6 download">
                <div class="col-12 head">
                    <h2 class="text-decoration-underline text-dark">Math Content</h2>
                </div>
                {%if maths_content%}
                {%for i in range(0,maths_len)%}
                <div class="row download-rows">
                    <div class="col-md-5 col-12">
                        <p class="text-light">{{maths_content[i][3]}}</p>
                    </div>
                    <div class="col-md-3 col-12">
                        {% if "pdf" in maths_content[i][3] %}
                        <button class="btn btn-primary"><a
                                href="{{url_for('download', content_id=maths_content[i][0], topic=maths_content[i][2]+'(Maths)')}}"><b class="text-light">Download</b></a>
                        </button>
                        {% else %}
                        <button class="btn btn-primary"><a href="{{maths_content[i][4]}}" target="_blank"><b class="text-light">Watch</b></a></button>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="text-light"> Rank </div>
                        <span class="rank text-light">{{maths_rank[i][0]}}</span>
                    </div>
                    <div class="col-md-2 col-12">
                    <a class="btn btn-danger"
                                href="{{url_for('delete_content', content_id=maths_content[i][0], subject='Maths')}}">Delete</a>
                    </div>
                </div>
                {%endfor%}
                {%else%}
                <div class="col-12 message">
                    <h3 class="text-light text-center">No Maths available </h3>
                </div>
                {%endif%}
            </div>

            <div class="col-6 download">
                <div class="col-12 head">
                    <h2 class="text-decoration-underline text-dark">Science Content</h2>
                </div>
                {%if science_content%}
                {%for i in range(0,science_len)%}
                <div class="row download-rows">
                    <div class="col-md-5 col-12">
                        <p class="text-light">{{science_content[i][3]}}</p>
                    </div>
                    <div class="col-md-3 col-12">
                        {% if "pdf" in science_content[i][3] %}
                        <button class="btn btn-primary"><a
                                href="{{url_for('download', content_id=science_content[i][0], topic=science_content[i][2]+'(Science)')}}"><b class="text-light">Download</b></a>
                        </button>
                        {% else %}
                        <button class="btn btn-primary"><a href="{{science_content[i][4]}}" target="_blank"><b class="text-light">Watch</b></a></button>
                        {% endif %}
                    </div>
                    <div class="col-md-2 col-12">
                        <div class="text-light"> Rank </div>
                        <span class="rank text-light">{{science_rank[i][0]}}</span>
                    </div>
                    <div class="col-md-2 col-12">
                        <a class="btn btn-danger"
                                href="{{url_for('delete_content', content_id=science_content[i][0], subject='Science')}}">Delete</a>
                    </div>
                </div>
                {%endfor%}
                {%else%}
                <div class="col-12 message">
                    <h3 class="text-light text-center">No Science Content available </h3>
                </div>
                {%endif%}
            </div>
        </div>
    </div>
</section>

{% endblock %}