{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('student')}}">Home</a> {% endblock %}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}

            
{% block body %}
<!--downloads-->
<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-12 download">
                 {%if content%}
                    {%for i in range(0,len)%}
                        <div class="row download-rows">
                            <div class="col-md-4 col-12">
                                <p class="text-light">{{content[i][3]}}</p>
                            </div>
                            <div class="col-md-4 col-12">
                                 {% if "pdf" in content[i][3] %}
                                    <button class="btn btn-primary"><a href="{{url_for('download', content_id=content[i][0], topic=topic)}}"><b class="text-light">Download</b></a></button>
                                 {% else %}
                                    <button class="btn btn-primary"><a target="_blank" href="{{content[i][4]}}"><b class="text-light">Watch</b></a></button>
                                  {% endif %}
                            </div>
                            <div class="col-md-4 col-12">
                                {%if not return_f[i]%}
                                     <a class="text-light btn btn-primary" href="{{ url_for('rank', cont_id=content[i][0], cont_name=content[i][3]) }}">Rank</a>
                                {%endif%}
                                &nbsp;
                                <span class="text-light">Current Rank: <span class="rank text-light">{{rank[i][0]}}</span></span>
                        
                            </div>
                        </div>
                    {%endfor%}
                 {%else%}
                     <div class="col-12 message">
                         <h3 class="text-light text-center">Content not yet available </h3>
                     </div>
                 {%endif%}
            </div>
        </div>
    </div>
</section>
{% endblock %}