{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('volunteer')}}">Home</a> {% endblock %}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}

{% block body %}
<!--heading-->
<section id="heading">
    <div class="container">
        <div class="row">
            <div class="col-12 head">
                <h2 class="text-decoration-underline">My Scheduled Slots</h2>
            </div>
        </div>
        <div class="row">
            {%if schedules%}
                {%for sched in schedules%}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-title">{{sched[0]}}</p>
                                <p class="text-topic"><span><b>Topic</b> : </span>{{sched[1]}}</p>
                                <p class="card-text"><span><b>Time</b> : </span>{{sched[2]}} {{sched[3]}}</p>
                                <p class="card-text"><span><b>Status</b> : </span><b class="text-danger">{{sched[4]}}</b></p>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%else%}
                 <div class="col-12 message">
                      <h3 class="card-title text-danger text-center">You have scheduled slots yet</h3>
                 </div>
            {%endif%}
        </div>
    </div>
</section>
{% endblock %}
