{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('student')}}">Home</a> {% endblock %}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 head">
        <h3 class="text-decoration-underline">Rank content</h3>
    </div>
</div>

<!--ranks-->
<section id="download">
    <div class="container">
        <div class="row">
            <div class="col-12 download">
                <div class="row download-rows">
                    <div class="col-md-6 col-12">
                        <p class="text-light">{{content_name}}</p>
                    </div>
                    <div class="col-md-6 col-12">
                        <form id="rank_form" name="rank_name" method="POST">
                            <select aria-label="Default select example" class="form-select" name="rank_name">
                                <option selected value=0>0</option>
                                <option value=1>1</option>
                                <option value=2>2</option>
                                <option value=3>3</option>
                                <option value=4>4</option>
                                <option value=5>5</option>
                                <option value=6>6</option>
                                <option value=7>7</option>
                                <option value=8>8</option>
                                <option value=9>9</option>
                                <option value=10>10</option>
                            </select>
                            {% if show %}
                                <button class="btn btn-primary" style="margin: 10px;" type="submit" name="ranked">Submit</button>
                            {% else %}
                                <button class="btn btn-primary" style="margin: 10px;" type="submit" name="ranked" disabled>Submit</button>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}