{% extends 'base.html'%}
{% block logout %}<a class="nav-link text-light active" href="{{ url_for('login') }}">Login</a>{% endblock %}
            
{% block body %}
<!--welcome-->
<!--title-->
<section id="title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="title-bankseta">BANK SETA</p>
            </div>
        </div>
    </div>
</section>

<!--register-->
<section id="login">
    <div class="login-container">
        <div class="row">
            <div class="col-12">
                    <div class="register-btn">

                        <form id="RegisterForm" method="POST" name="registerForm">
                            <div class="form-floating">
                                <input
                                        class="form-control"
                                        id="username"
                                        name="name"
                                        placeholder="Enter your username..."
                                        required
                                        type="text"/>
                                <label for="username">Username</label>
                            </div>
                            <br>
                            <div class="form-floating">
                                <input
                                        class="form-control"
                                        id="email"
                                        name="email"
                                        placeholder="Enter your email..."
                                        required
                                        type="email"/>
                                <label for="username">Email</label>
                            </div>
                            <br>
                            <div class="form-floating ">
                                <div class="form-control">User type</div>
                                <select id="usertype" name="usertype">
                                    <option value="Student">Student</option>
                                    <option value="Volunteer">Volunteer</option>
                                </select>
                            </div>
                            <br>
                            <div class="form-floating">
                                <input
                                        class="form-control"
                                        id="pass"
                                        name="pass"
                                        placeholder="Enter your password..."
                                        required
                                        type="password"/>
                                <label for="pass">Password</label>
                            </div>
                            <br/>
                             <div class="form-floating">
                                <input
                                        class="form-control"
                                        id="password_confirm"
                                        name="password_confirm"
                                        placeholder="Reenter your password..."
                                        required
                                        type="password"/>
                                <label for="password_confirm">Renter Password</label>
                            </div>
                            <br/>
                            <button
                                    class="btn btn-primary login-btn"
                                    id="registered"
                                    type="submit">
                                Register
                            </button>

                        </form>

              
            </div>
        </div>
    </div>
</section>
{% endblock %}