{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('administrator')}}">Home</a> {% endblock %}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}

{% block body %}
<section id="heading">
    <div class="container">
        <div class="row">
            <div class="col-12 head">
                <h3 class="text-decoration-underline">Volunteer Details</h3>
            </div>
        </div>
        <div class="row">
            {%if users %}
                {%for person in users%}
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title text-decoration-underline"><span>Name : </span>{{person[0]}}</h3>
                                <h3 class="card-text sch-card"><span>Email : </span><b class="text-danger">{{person[1]}}</b></h3>
                                <h5 class="card-title sch-card"><span>Status : </span>{{person[2]}}</h5>
                                <a class="btn btn-primary stretched-link" href="{{url_for('verify', volunteer_id=person[3])}}">Recruit Volunteer</a>
                            </div>
                        </div>
                    </div>
                {%endfor%}
            {%else%}
                <div class="col-12">
                    <div class="card message">
                         <h3 class="card-title text-danger">All volunteers are already verified</h3>
                    </div>
                </div>
            {%endif%}
        </div>
    </div>
</section>
{% endblock %}