{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('student')}}">Home</a> {% endblock %}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}
            
{% block body %}
<!--welcome-->
<section id="welcome">
    <div class="container">
        <div class="row">
            <h1 class="wel">Welcome {{name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 head">
            <h2 class="text-decoration-underline">Grade 12 Term 1 Curriculum Topics</h2>
        </div>
    </div>

</section>
<br><br><br>

<br><br>
<!--subjects-->
<section id="subjects">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-12 maths">
                <div class="subj">
                    <h3>MATHS</h3>
                </div>

                <div class="subj-content">
                    <div class="dropdown">
                        <button class="dropbtn">Sequences and Series</button>
                        <div class="dropdown-content">
                            <button class="search text-light"><a
                                    href="{{url_for('surf', topic='Number patterns(Maths)')}}">Number patterns</a>
                            </button>
                            <button class="search  text-light"><a href="{{url_for('surf', topic='Sequences(Maths)')}}">Sequences</a>
                            </button>
                            <button class="search  text-light"><a href="{{url_for('surf', topic='Series(Maths)')}}">Series</a>
                            </button>
                            </button>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Functions</button>
                        <div class="dropdown-content">
                            <button class="search text-light"><a
                                    href="{{url_for('surf', topic='Function definition(Maths)')}}">Function definition</a>
                            </button>
                            <button class="search  text-light"><a href="{{url_for('surf', topic='Inverses(Maths)')}}">Inverses</a>
                            </button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Exponential(Maths)')}}">Exponential</a></button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Logarithmic(Maths)')}}">Logarithmic</a></button>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Geometry</button>
                        <div class="dropdown-content">
                            <button class="search text-light"><a
                                    href="{{url_for('surf', topic='Euclidean Geometry(Maths)')}}">Euclidean Geometry</a>
                            </button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Analytical Geometry(Maths)')}}">Analytical
                                Geometry</a></button>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Calculus</button>
                        <div class="dropdown-content">
                            <button class="search text-light"><a
                                    href="{{url_for('surf', topic='Differential Calculus(Maths)')}}">Differential
                                Calculus</a></button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Polynomials(Maths)')}}">Polynomials</a></button>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Finance</button>
                        <div class="dropdown-content">
                            <button class="search text-light"><a
                                    href="{{url_for('surf', topic='Finance growth and decay-continuation(Maths)')}}">Finance
                                growth and decay (continuation)</a></button>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">Statistics and Probability</button>
                        <div class="dropdown-content">
                            <button class="search text-light"><a href="{{url_for('surf', topic='Statistics(Maths)')}}">Statistics</a>
                            </button>
                            </button>
                            <button class="search text-light"><a
                                    href="{{url_for('surf', topic='Counting and probability(Maths)')}}">Counting and
                                probability</a></button>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-sm-12 science">
                <div class="subj">
                    <h3>SCIENCE</h3>
                </div>
                <div class="subj-content">
                    <div class="dropdown">
                        <button class="dropbtn">MECHANICS</button>
                        <div class="dropdown-content">
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Momentum & Impulse(Science)')}}">Momentum &
                                Impulse</a></button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Vertical projectile motion(Science)')}}">Vertical
                                projectile motion</a></button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Work, energy and power(Science)')}}">Work, energy and
                                power</a></button>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">CHEMICAL CHANGE</button>
                        <div class="dropdown-content">
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Rate and extent of reaction(Science)')}}">Rate and
                                extent of reaction</a></button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Chemical equilibrium(Science)')}}">Chemical
                                equilibrium</a></button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Acids and bases(Science)')}}">Acids and bases</a>
                            </button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Electrochemical reactions(Science)')}}">Electrochemical
                                reactions</a></button>
                        </div>
                    </div>
                </div>

                <div class="subj-content">
                    <div class="dropdown">
                        <button class="dropbtn">ELECTRICITY & MAGNETISM</button>
                        <div class="dropdown-content">
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Electric circuits(Science)')}}">Electric circuits</a>
                            </button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Electrodynamics(Science)')}}">Electrodynamics</a>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="subj-content">
                    <div class="dropdown">
                        <button class="dropbtn">MATTER & MATERIALS</button>
                        <div class="dropdown-content">
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Optical phenomena and properties of materials(Science)')}}">Optical
                                phenomena and properties of materials</a></button>
                            <button class="search  text-light"><a
                                    href="{{url_for('surf', topic='Organic molecules(Science)')}}">Organic molecules</a>
                            </button>
                        </div>
                    </div>

                    <div class="dropdown">
                        <button class="dropbtn">WAVES, SOUND & LIGHT</button>
                        <div class="dropdown-content">
                            <button class="search text-light"><a
                                    href="{{url_for('surf', topic='Doppler Effect(Science)')}}">Doppler Effect</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>

{% endblock %}