{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('administrator')}}">Home</a> {% endblock %}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}
<!--title-->
<section id="title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="title-bankseta">BANK SETA</p>
            </div>
            <div class="col-12 head">
                <h2>Upload Content</h2>
            </div>
        </div>
    </div>
</section>



<br><br><br>

{% block body %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 card-upload">
                <!-- File upload form HTML -->
                <form action="/upload" method="post">
                    <!-- Video file input -->
                    <div class="upload">
                        <div class="sched">
                            <label for="topics">Choose a topic:</label>
                            <select id="topics" name="topics" required>
                                <option value="Number patterns(Sequences and Series-Maths)">Number patterns
                                </option>
                                <option value="Sequences(Sequences and Series-Maths)">Sequences</option>
                                <option value="Series(Sequences and Series-Maths)">Series</option>
                                <option value="Function definition(Functions-Maths)">Function definition
                                </option>
                                <option value="Inverses(Functions-Maths)">Inverses</option>
                                <option value="Exponential(Functions-Maths)">Exponential</option>
                                <option value="Logarithmic(Functions-Maths)">Logarithmic</option>
                                <option value="Trigonometry(Trigonometry-Maths)">Trigonometry</option>
                                <option value="Euclidean Geometry(Geometry-Maths)">Euclidean Geometry</option>
                                <option value="Analytical Geometry(Geometry-Maths)">Analytical Geometry</option>
                                <option value="Differential Calculus(Calculus-Maths)">Differential Calculus
                                </option>
                                <option value="Polynomials(Calculus-Maths)">Polynomials</option>
                                <option value="Finance growth and decay-continuation(Finance-Maths)">Finance
                                    growth and
                                    decay(continuation)
                                </option>
                                <option value="Statistics(Statistics and Probability-Maths)">Statistics</option>
                                <option value="Counting and probability(Statistics and Probability-Maths)">
                                    Counting and
                                    probability
                                </option>
                                <option value="Momentum & Impulse(Mechanics-Science)">Momentum & Impulse
                                </option>
                                <option value="Vertical projectile motion(Mechanics-Science)">Vertical
                                    projectile
                                    motion
                                </option>
                                <option value="Work,energy and power(Mechanics-Science)">Work,energy and power
                                </option>
                                <option value="Rate and extent of reaction(Chemical Change-Science)">Rate and
                                    extent of
                                    reaction
                                </option>
                                <option value="Chemical equilibrium(Chemical Change-Science)">Chemical
                                    equilibrium
                                </option>
                                <option value="Acids and bases(Chemical Change-Science)">Acids and bases
                                </option>
                                <option value="Electrochemical reactions(Chemical Change-Science)">
                                    Electrochemical
                                    reactions
                                </option>
                                <option value="Electric circuits(Electricity & Magnetism-Science)">Electric
                                    circuits
                                </option>
                                <option value="Electrodynamics(Electricity & Magnetism-Science)">Electrodynamics
                                </option>
                                <option
                                    value="Optical phenomena and properties of materials(Matter and Materials-Science)">
                                    Optical phenomena and properties of materials
                                </option>
                                <option value="Organic molecules(Matter and Materials-Science)">Organic
                                    molecules
                                </option>
                                <option value="Doppler Effect(Waves, Sound & Light-Science)">Doppler Effect
                                </option>
                            </select>
                        </div>
                    
                        <label for="content_name">Input video name:&nbsp;</label>
                        <input id="content_name" name="content_name" required type="text"><br>
                        <label for="videoInput">Input video URL:&nbsp; &nbsp;</label>
                        <span class="upload-icon">
                            <img src="static\assets\images\uploading.png" width="55rem" height="52rem" alt="">
                        </span>
                        <input id="videoInput" name="videoInput" required type="text"><br><br>                       
                        
                        <button class="btn-upload" name="video_submit" type="submit">
                             Upload
                        </button>
                    </div>
                </form>
                <br>
                <form action="/files" enctype="multipart/form-data" method="post">
                    <!-- PDF file input -->
                    <div class="upload">
                        <div class="sched">
                            <label for="topics2">Choose a topic:</label>
                            <select id="topics2" name="topics" required>
                                <option value="Number patterns(Sequences and Series-Maths)">Number patterns
                                </option>
                                <option value="Sequences(Sequences and Series-Maths)">Sequences</option>
                                <option value="Series(Sequences and Series-Maths)">Series</option>
                                <option value="Function definition(Functions-Maths)">Function definition
                                </option>
                                <option value="Inverses(Functions-Maths)">Inverses</option>
                                <option value="Exponential(Functions-Maths)">Exponential</option>
                                <option value="Logarithmic(Functions-Maths)">Logarithmic</option>
                                <option value="Trigonometry(Trigonometry-Maths)">Trigonometry</option>
                                <option value="Euclidean Geometry(Geometry-Maths)">Euclidean Geometry</option>
                                <option value="Analytical Geometry(Geometry-Maths)">Analytical Geometry</option>
                                <option value="Differential Calculus(Calculus-Maths)">Differential Calculus
                                </option>
                                <option value="Polynomials(Calculus-Maths)">Polynomials</option>
                                <option value="Finance growth and decay-continuation(Finance-Maths)">Finance
                                    growth and
                                    decay(continuation)
                                </option>
                                <option value="Statistics(Statistics and Probability-Maths)">Statistics</option>
                                <option value="Counting and probability(Statistics and Probability-Maths)">
                                    Counting and
                                    probability
                                </option>
                                <option value="Momentum & Impulse(Mechanics-Science)">Momentum & Impulse
                                </option>
                                <option value="Vertical projectile motion(Mechanics-Science)">Vertical
                                    projectile
                                    motion
                                </option>
                                <option value="Work,energy and power(Mechanics-Science)">Work,energy and power
                                </option>
                                <option value="Rate and extent of reaction(Chemical Change-Science)">Rate and
                                    extent of
                                    reaction
                                </option>
                                <option value="Chemical equilibrium(Chemical Change-Science)">Chemical
                                    equilibrium
                                </option>
                                <option value="Acids and bases(Chemical Change-Science)">Acids and bases
                                </option>
                                <option value="Electrochemical reactions(Chemical Change-Science)">
                                    Electrochemical
                                    reactions
                                </option>
                                <option value="Electric circuits(Electricity & Magnetism-Science)">Electric
                                    circuits
                                </option>
                                <option value="Electrodynamics(Electricity & Magnetism-Science)">Electrodynamics
                                </option>
                                <option
                                    value="Optical phenomena and properties of materials(Matter and Materials-Science)">
                                    Optical phenomena and properties of materials
                                </option>
                                <option value="Organic molecules(Matter and Materials-Science)">Organic
                                    molecules
                                </option>
                                <option value="Doppler Effect(Waves, Sound & Light-Science)">Doppler Effect
                                </option>
                            </select>
                        </div>
                        <label for="file">Select a PDF file:</label>
                        <span class="upload-icon">
                            <img src="static\assets\images\uploading.png" width="55rem" height="52rem" alt="">
                        </span>
                        <input accept=".pdf" id="file" name="file" required type="file"><br><br>
                        <button class="btn-upload" name="pdf_submit" type="submit">Upload</button>
                    </div>
                </form>
                <br>
                <p class="text-danger">{{upload_status}}</p>
            </div>

        </div>
    </div>
</section>
{% endblock %}