{% extends 'base.html'%}
{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}

{% block body %}

<!--title-->
<section id="title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="title-bankseta">BANK SETA</p>
            </div>
            <div class="row">
                <h3 class="wel">Welcome {{name}}</h3>
            </div>
        </div>
    </div>
</section>

<!--heading-->
<section id="heading">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-danger">Waiting for the administrator to let you in</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}