{% extends 'base.html'%}
{% block home %} <a class="nav-link active" href="{{url_for('volunteer')}}">Home</a> {% endblock %}

{% block logout %}<a class="nav-link text-danger active" href="{{ url_for('logout') }}">Logout</a>{% endblock %}
{% block schedule %}<a class="text-light active" href="{{ url_for('my_schedules', user_id=user_id) }}">My Schedules</a> {%
endblock %}
{% block body %}

<!--title-->
<section id="title">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="title-bankseta">BANK SETA</p>
            </div>
            <div class="row">
                <h3 class="wel">Welcome {{name}}</h3>
            </div>
        </div>
    </div>
</section>

<!--heading-->
<section id="heading">
    <div class="container">
        <div class="row">
            <div class="col-12 head">
                <h2 class="text-decoration-underline">Available Sessions for Volunteering</h2>
            </div>
        </div>
        <div class="row">
            {%if schedules%}
            {%for sched in schedules%}
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <p class="card-title text-success text-center">{{sched[2]}}</p>
                        <p class="sch-card"><span><b>Topic</b> : </span>{{sched[3]}}</p>
                        <p class="sch-card"><span><b>Time</b> : </span>{{sched[4]}} ({{sched[5]}})</p>
                        <p class="sch-card"><span><b>Status</b> : </span><b class="text-danger">{{sched[1]}}</b></p>
                        <div class="text-center">
                            <a class="btn btn-primary btn-block" type="button" href="{{url_for('slots', slot_id=sched[0])}}"><b>Take
                                Slot</b></a>
                        </div>
                       
                    </div>
                </div>
            </div>
            {%endfor%}
            {%else%}
            <div class="col-12 message">
                <h3 class="text-danger text-center">There are no available slots for volunteering</h3>
            </div>
            {%endif%}
        </div>
    </div>
</section>
{% endblock %}